@media only screen and (min-width: 60rem) /* for desktop */ {
  body {
    font-family: Monospace, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
  }

  .navbar {
    height: 2.5rem;
    width: 100%;
    background-color: black;
    text-align: left;
    top: 0;
    left: 0;
    padding: 0.469rem 0.313rem 0.469rem 0.313rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: chomepage;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .navbar::-webkit-scrollbar {
    display: none;
  }

  .navbar > ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }

  .navbar > ul > li {
    display: inline-block;
    padding: 0rem 0.313rem 0rem 0.313rem;
    flex-shrink: 0;
  }

  .navbar > ul > li > a {
    display: inline-block;
    font-size: 1.15rem;
    background-color: #a3b8c8;
    padding: 0.625rem;
    border-radius: 0.313rem;
    color: black;
    text-decoration: none;
  }

  .drop-button {
    display: none;
  }

  .dropdown-content {
    display: none;
  }

  hr {
    margin-right: auto;
  }

  #our-staff-caption {
    margin-left: 2.5%;
  }

  .header {
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
  }

  #homepage-header {
    background-image: url(imgs/homepage-header.jpg);
    background-position: left;
  }

  #history-header {
    background-image: url(imgs/pyramid-origami.jpg);
    background-position: center;
  }

  #rec-materials-header {
    background-image: url(imgs/origami-paper.jpg);
    background-position: center;
  }

  .header-flexbox {
    display: flex;
    flex-flow: column nowrap;
  }

  .header-flexbox > h1 {
    padding: 1.875rem 1.25rem 1.875rem 1.25rem;
    margin-top: 2.5%; /* h1 elements have a default margin (???) */
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: auto;
    width: auto;
    max-width: 75%;
    background-color: black;
    color: white;
    border-radius: 0.625rem;
  }

  .header-flexbox > h3 {
    padding: 1.875rem 1.25rem 1.875rem 1.25rem;
    margin-left: 2.5%;
    margin-right: auto;
    margin-top: 0;
    width: 50%;
    background-color: black;
    color: white;
    border-radius: 0.625rem;
  }

  .header-flexbox > h5 {
    padding: 1.875rem 1.25rem 1.875rem 1.25rem;
    margin-top: 2.5%; /* h1 elements have a default margin (???) */
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: auto;
    width: auto;
    max-width: 75%;
    background-color: black;
    color: white;
    border-radius: 0.625rem;
  }

  #materials-list {
    /* list-style: upper-roman outside; */
    width: 90%;
    padding: 0.625rem;
    text-align: center;
    margin: auto;
  }

  #materials-list > li {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem;
    min-width: 10rem;
    text-align: center;
  }

  #materials-list > li:not(:last-child) {
    border-right: 0.063rem solid white;
  }

  .content {
    background-color: black;
    color: white;
    padding: 0.625rem 0.313rem 0.625rem 0.313rem;
  }

  .content a {
    color: white;
  }

  .content > p {
    margin-bottom: 0;
    margin-left: 5%;
    width: 80%;
    margin-top: 1rem;
  }

  .content > img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: 50%;
    margin-right: auto;
    width: 40%;
    border-radius: 0.313rem;
  }

  .content > ul {
    list-style: square outside;
    margin-left: 5%;
    margin: auto;
    margin-top: 1rem;
    width: 50%;
  }

  #homepage-staff-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    text-align: center;
  }

  .hp-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
  }

  .hp-card > img {
    width: 50%;
  }

  .hp-card > p {
    width: 50%;
    text-align: center;
  }
  .design-small-header {
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: black;
    color: white;
    border-radius: 0.625rem;
    text-align: center;
  }

  .design-category-text {
    text-align: left;
    padding-left: 5%;
  }

  .design-image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  .design-image-column {
    flex: 12.5%;
    max-width: 12.5%;
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    max-width: 4.688rem;
  }

  .design-image-column:last-child {
    padding-bottom: 0;
  }

  .design-image-row:last-child {
    /* padding-right: 0.625rem; */
  }

  .design-image-and-text-container {
    width: 4.688rem;
    height: 4.688rem;
    position: relative;
    text-align: center;
    padding-bottom: 0.625rem;
    border: none;
  }

  .design-image-and-text-container:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    .design-image-text-container > p {
      display: inline-block;
      color: white;
      background-color: black;
      height: min-content;
    }
  }

  .design-image-text-container {
    position: absolute;
    cursor: default;
    height: 4.688rem;
    width: 4.688rem;
    text-align: center;
    overflow-wrap: break-word;
    vertical-align: middle;
  }

  .design-image-text-container > p {
    display: none;
    font-size: 10px; /*or whatever you want*/
    color: #000000;
    position: absolute;
    top: 20%;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .design-image {
    width: 4.688rem;
    height: 4.688rem;
    object-fit: cover;
    border-radius: 0.313rem;
  }
  #design-page-content {
    padding: 0.625rem 0 0.625rem 0;
  }
  .design-page-toc {
    text-align: center;
  }

  .design-page-toc > ol {
    font-size: 1.25rem;
    line-height: 2.5rem;
    /* list-style: inside; */
    display: inline-block;
    text-align: left;
  }

  .design-page-toc > ol > li > a {
    display: block;
  }
}

@media only screen and (min-width: 40rem) and (max-width: 59.99rem) /* for tablets */ {
  body {
    font-family: Monospace, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .navbar {
    height: 2.5rem;
    width: 100%;
    background-color: black;
    text-align: left;
    padding: 0.469rem 0.313rem 0.469rem 0.313rem;
    position: absolute;
  }

  .navbar::-webkit-scrollbar {
    display: none;
  }

  .navbar > ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }

  .navbar > ul > li {
    /* display: inline-block; */
    padding: 0rem 0.313rem 0rem 0.313rem;
    flex-shrink: 0;
  }

  .navbar > ul > li > a {
    /* display: inline-block; */
    font-size: 1.15rem;
    background-color: #a3b8c8;
    padding: 0.625rem;
    border-radius: 0.313rem;
    color: black;
    text-decoration: none;
  }

  .navbar-page-button {
    display: none;
  }

  .navbar-page-button > a {
    display: none;
  }

  .drop-button {
    display: inline-block;
    font-size: 1.15rem;
    background-color: #a3b8c8;
    padding: 0.625rem;
    border-radius: 0.313rem;
    border: 0.1rem solid black;
    color: black;
    text-decoration: none;
  }

  .drop-button > * {
    /* makes icons (and anything else that would  be within the button) unclickable, so it doesn't block the button. */
    pointer-events: none;
  }

  .dropdown {
    z-index: 10;
    float: left;
    overflow: hidden;
    padding: 0;
    position: relative;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .dropdown-content {
    /* display: none; */
    opacity: 0;
    position: relative;
    min-width: 10rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding: 0.1rem;
    background-color: black;
    border-radius: 0.625rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 0.313rem;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 10;
    color: white;
    border-radius: 0.625rem;
    font-size: 1.15rem;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 0.313rem;
  }

  .show {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }

  .subdropdown-button:hover {
    background-color: #ddd;
    color: black;
    border-radius: 0.625rem;
  }

  .header {
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
  }

  #homepage-ul {
    text-align: left;
    margin: 1rem auto;
    width: 50%;
    list-style: square outside;
  }

  #homepage-header {
    background-image: url(imgs/homepage-header.jpg);
    background-position: left;
  }

  #history-header {
    background-image: url(imgs/pyramid-origami.jpg);
    background-position: center;
  }

  #rec-materials-header {
    background-image: url(imgs/origami-paper.jpg);
    background-position: center;
  }

  .header-flexbox {
    display: flex;
    flex-flow: column nowrap;
  }

  .header-flexbox > h1 {
    padding: 1.875rem 1.25rem 1.875rem 1.25rem;
    margin-top: 4rem; /* h1 elements have a default margin (???) */
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: black;
    color: white;
    border-radius: 0.625rem;
    text-align: center;
  }

  .header-flexbox > h3 {
    padding: 1.875rem 1.25rem 1.875rem 1.25rem;
    margin: auto;
    margin-bottom: 2.5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    width: auto;
    background-color: black;
    color: white;
    border-radius: 0.625rem;
    text-align: center;
  }

  .header-flexbox > h5 {
    padding: 1.875rem 1.25rem 1.875rem 1.25rem;
    margin-top: 4.5rem; /* h1 elements have a default margin (???) */
    margin-bottom: 2.5%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 75%;
    background-color: black;
    color: white;
    border-radius: 0.625rem;
  }

  #our-staff-caption {
    padding-bottom: 0;
  }

  #materials-list {
    text-align: center;
    list-style: upper-roman outside;
    width: 20%;
    margin: auto;
  }

  #materials-list > li {
    margin-top: 8%;
  }

  .content {
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.625rem 0.313rem 0.625rem 0.313rem;
  }

  .content a {
    color: white;
  }

  .content > img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
    width: 50%;
    border-radius: 0.313rem;
  }

  .content > p {
    margin-top: 2.5%;
    margin-bottom: 0;
    margin-left: 5%;
    width: 80%;
  }

  .content > p {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
  }

  .content > ul {
    text-align: left;
    margin-left: 5%;
    list-style: square outside;
    margin: auto;
    margin-top: 1rem;
    width: 50%;
  }

  #homepage-staff-flexbox {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    width: 80%;
    column-gap: 0.938rem;
  }

  .hp-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    text-align: center;
    margin: auto;
  }

  .hp-card > img {
    width: 6.25rem;
    margin: auto;
  }

  #harbin-image {
    width: 6.25rem;
    height: auto;
  }

  .hp-card > p {
    text-align: center;
  }

  .design-small-header {
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    margin-top: 4.5rem; /* h1 elements have a default margin (???) */
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: black;
    color: white;
    border-radius: 0.625rem;
    text-align: center;
  }

  .design-category-text {
    text-align: left;
    padding-left: 5%;
  }

  .design-image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  .design-image-column {
    flex: 20%;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    max-width: 4.688rem;
  }

  .design-image-column:last-child {
    padding-bottom: 0;
  }

  .design-image-row:last-child {
    /* padding-right: 0.625rem; */
  }

  .design-image-and-text-container {
    width: 4.688rem;
    height: 4.688rem;
    position: relative;
    text-align: center;
    padding-bottom: 0.625rem;
    border: none;
  }

  .design-image-text-container {
    position: absolute;
    cursor: default;
    height: 4.688rem;
    width: 4.688rem;
    text-align: center;
    overflow-wrap: break-word;
    vertical-align: middle;
  }

  .design-image-text-container > p {
    display: inline-block;
    font-size: 10px; /*or whatever you want*/
    position: absolute;
    height: min-content;
    top: max-content;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: black;
  }
  .design-image {
    width: 4.688rem;
    height: 4.688rem;
    object-fit: cover;
    border-radius: 0.313rem;
  }
  #design-page-content {
    padding: 0.625rem 0 0.625rem 0;
  }

  .subdropdown {
    z-index: 10;
    position: relative;
    min-width: 50%;
    right: 0px;
    text-align: right;
    float: right;
  }
  .subdropdown-content {
    z-index: 10;
    position: relative;
    border-radius: 0.625rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    /* display: none; */
    background-color: black;
    color: white;
    opacity: 0;
    text-align: right;
    right: 0;
    min-width: 50%;
    /* width: 100%; */
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
  }

  .subdrop-show {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }

  .drop-content-remove-corners {
    border-radius: 0.625rem;
    /* border-bottom-left-radius: 0rem; */
    border-bottom-right-radius: 0rem;
  }

  .subdropdown-button {
    float: none;
    background-color: black;
    padding: 0.313rem;
    text-decoration: none;
    display: block;
    text-align: left;
    color: white;
    border-radius: 0.625rem;
    font-size: 1.15rem;
    border: none;
    font-family: inherit;
    margin: auto;
    width: 100%;
  }
  .subdropdown-content > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .subdropdown-content > ul > li {
    padding: 0px;
    flex-shrink: 0;
    max-width: 100%;
  }

  .subdropdown-content > ul > li > a {
    position: relative;
    display: block;
    font-size: 1.15rem;
    text-decoration: none;
    z-index: 10;
    max-width: inherit;
    text-align: right;
    border-radius: 0.625rem;
  }

  .design-page-toc {
    text-align: center;
  }

  .design-page-toc > ol {
    font-size: 1.25rem;
    line-height: 2.5rem;
    /* list-style: inside; */
    display: inline-block;
    text-align: left;
  }
  .design-page-toc > ol > li > a {
    display: block;
  }
}

@media only screen and (min-width: 1rem) and (max-width: 39.99rem) /* for phones */ {
  body {
    font-family: Monospace, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .navbar {
    z-index: 10;
    height: 2.5rem;
    width: 100%;
    background-color: black;
    text-align: left;
    padding: 0.469rem 0.313rem 0.469rem 0.313rem;
    position: absolute;
  }

  .navbar::-webkit-scrollbar {
    display: none;
  }

  .navbar > ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }

  .navbar > ul > li {
    /* display: inline-block; */
    padding: 0rem 0.313rem 0rem 0.313rem;
    flex-shrink: 0;
  }

  .navbar > ul > li > a {
    /* display: inline-block; */
    font-size: 1.15rem;
    background-color: #a3b8c8;
    padding: 0.625rem;
    border-radius: 0.313rem;
    color: black;
    text-decoration: none;
  }

  .navbar-page-button {
    display: none;
  }

  .navbar-page-button > a {
    display: none;
  }

  .drop-button {
    display: inline-block;
    font-size: 1.15rem;
    background-color: #a3b8c8;
    padding: 0.625rem;
    border-radius: 0.313rem;
    border: 0.1rem solid black;
    color: black;
    text-decoration: none;
    margin: 0;
  }

  .drop-button > * {
    /* makes icons (and anything else that would be within the button [in this case the icon]) unclickable, so it doesn't block the button. */
    pointer-events: none;
    padding: 0;
    margin: 0;
  }

  /* testing */
  .dropdown {
    z-index: 10;
    float: left;
    overflow: hidden;
    padding: 0;
    position: relative;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .dropdown-content {
    z-index: 10;
    /* display: none; */
    opacity: 0;
    position: relative;
    min-width: 10rem;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

    pointer-events: none;
  }

  .first-drop-content-only {
    background-color: black;
    border-radius: 0.625rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
  }

  .dropdown-content a {
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    padding: 0.1rem;
    background-color: black;
    border-radius: 0.625rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    float: none;
    padding: 0.313rem;
    text-decoration: none;
    display: block;
    text-align: left;
    color: white;
    border-radius: 0.625rem;
    font-size: 1.15rem;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 0.625rem;
  }

  .subdropdown-button:hover {
    background-color: #ddd;
    color: black;
    border-radius: 0.625rem;
  }

  .show {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }

  .header {
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
  }

  #homepage-header {
    background-image: url(imgs/homepage-header.jpg);
    background-position: left;
  }

  #history-header {
    background-image: url(imgs/pyramid-origami.jpg);
    background-position: center;
  }

  #rec-materials-header {
    background-image: url(imgs/origami-paper.jpg);
    background-position: center;
  }

  .header-flexbox {
    display: flex;
    flex-flow: column nowrap;
  }

  .header-flexbox > h1 {
    padding: 1.875rem 1.25rem 1.875rem 1.25rem;
    margin-top: 4rem; /* h1 elements have a default margin (???) */
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: black;
    color: white;
    border-radius: 0.625rem;
    text-align: center;
  }

  .header-flexbox > h3 {
    padding: 1.875rem 1.25rem 1.875rem 1.25rem;
    margin: auto;
    margin-bottom: 2.5%;
    width: 50%;
    background-color: black;
    color: white;
    border-radius: 0.625rem;
    text-align: center;
  }

  .header-flexbox > h5 {
    padding: 1.875rem 1.25rem 1.875rem 1.25rem;
    margin-top: 4.5rem; /* h1 elements have a default margin (???) */
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: auto;
    width: auto;
    max-width: 75%;
    background-color: black;
    color: white;
    border-radius: 0.625rem;
  }

  .header-flexbox > ul {
    padding: 1.875rem 1.25rem 1.875rem 1.25rem;
    margin-top: 2.5%; /* h1 elements have a default margin (???) */
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: auto;
    width: auto;
    max-width: 75%;
    background-color: black;
    color: white;
    border-radius: 0.625rem;
  }

  #materials-list {
    text-align: center;
    list-style: upper-roman outside;
    width: 20%;
    margin: auto;
  }

  #materials-list > li {
    margin-top: 8%;
  }

  .content {
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.625rem 0.313rem 0.625rem 0.313rem;
  }

  .content a {
    color: white;
  }

  #rec-materials-content > p {
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 0;
    margin-left: 5%;
    width: 80%;
  }

  .content > p {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 0.5rem;
  }

  .content > img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
    width: 50%;
    border-radius: 0.313rem;
  }

  .content > ul {
    text-align: left;
    margin: 1rem auto;
    width: 50%;
    list-style: square outside;
  }

  #rec-materials-header {
    background-image: url(imgs/origami-paper.jpg);
    background-position: center;
  }

  #our-staff-caption {
    padding-bottom: 0;
  }

  #materials-list {
    text-align: center;
    list-style: upper-roman outside;
    width: 20%;
    margin: auto;
  }

  #materials-list > li {
    margin-top: 8%;
  }

  #homepage-staff-flexbox {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    width: 80%;
    column-gap: 0.938rem;
  }

  .hp-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    text-align: center;
    margin: auto;
  }

  .hp-card > img {
    width: 20rem;
    margin: auto;
  }

  /* #harbin-image { */
  /*   width: 100px; */
  /*   height: auto; */
  /* } */

  .hp-card > p {
    text-align: center;
  }

  .design-small-header {
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    margin-top: 4.5rem; /* h1 elements have a default margin (???) */
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: black;
    color: white;
    border-radius: 0.625rem;
    text-align: center;
  }

  .design-category-text {
    text-align: left;
    padding-left: 5%;
  }

  .design-image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  .design-image-column {
    flex: 25%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    max-width: 4.688rem;
  }

  .design-image-column:last-child {
    padding-bottom: 0;
  }

  .design-image-row:last-child {
    /* padding-right: 0.625rem; */
  }

  .design-image-and-text-container {
    max-width: 4.688rem;
    height: 4.688rem;
    position: relative;
    text-align: center;
    padding-bottom: 0.625rem;
    border: none;
  }

  .design-image-text-container {
    position: absolute;
    cursor: default;
    height: 4.688rem;
    width: 4.688rem;
    text-align: center;
    overflow-wrap: break-word;
    vertical-align: middle;
  }

  .design-image-text-container > p {
    display: inline-block;
    font-size: 10px; /*or whatever you want*/
    position: absolute;
    height: min-content;
    top: max-content;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: black;
  }
  .design-image {
    width: 4.688rem;
    height: 4.688rem;
    border-radius: 0.313rem;
    object-fit: cover;
  }
  #design-page-content {
    padding: 0.625rem 0 0.625rem 0;
  }

  .subdropdown {
    z-index: 10;
    position: relative;
    min-width: 50%;
    right: 0px;
    text-align: right;
    float: right;
  }
  .subdropdown-content {
    z-index: 10;
    position: relative;
    border-radius: 0.625rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    /* display: none; */
    background-color: black;
    color: white;
    opacity: 0;
    text-align: right;
    right: 0;
    min-width: 50%;
    /* width: 100%; */
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
  }

  .subdropdown-button {
    float: none;
    background-color: black;
    padding: 0.313rem;
    text-decoration: none;
    display: block;
    text-align: left;
    color: white;
    border-radius: 0.625rem;
    font-size: 1.15rem;
    border: none;
    font-family: inherit;
    margin: auto;
    width: 100%;
  }
  .subdropdown-content > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .subdropdown-content > ul > li {
    padding: 0px;
    flex-shrink: 0;
    max-width: 100%;
  }

  .subdropdown-content > ul > li > a {
    position: relative;
    display: block;
    font-size: 1.15rem;
    text-decoration: none;
    z-index: 10;
    max-width: inherit;
    text-align: right;
    border-radius: 0.625rem;
  }

  .subdrop-show {
    /* display: block; */
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }

  .drop-content-remove-corners {
    border-radius: 0.625rem;
    /* border-bottom-left-radius: 0rem; */
    border-bottom-right-radius: 0rem;
  }

  .design-page-toc {
    text-align: center;
  }

  .design-page-toc > ol {
    font-size: 1.25rem;
    line-height: 2.5rem;
    /* list-style: inside; */
    display: inline-block;
    text-align: left;
  }

  .design-page-toc > ol > li > a {
    display: block;
  }
}
